#software full path
prank = /data/00/user/user105/software/prank/bin/prank
#blast = /home/share/software/blast/ncbi-blast-2.7.1+/bin  #bin path
diamond = /data/00/user/user106/software/diamond/diamond
KaKs_Calculator = /data/00/user/user105/software/KaKs_calculator/KaKs_Calculator2.0/bin/Linux/KaKs_Calculator
#mafft = /data/00/user/user105/software/mafft/bin/mafft
